h1 {
  color: #66BFBF;
  font-family: Sacramento, sans-serif;
  font-size: 80px;
  margin: 40px auto auto;
}

body {
  margin: 0;
  text-align: center;
  font-family: Merriweather, sans-serif;
  background-color: #e0ebe8;
}

img {
  height: 100%;
  width: 100%;
}

h2 {
  color: #66BFBF;
  font-size: 23px;
  font-weight: normal;
  margin: 30px auto 0 auto;
  padding-bottom: 20px;
  width: 500px;
}

span {
  display: block;
}

.top-container {
  padding-top: 20px;
  padding-bottom: 0;
}

.developer {
  width: 300px;
  height: 300px;
}

.profile img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
